/* ==========================================
            RESPONSIVE CSS
========================================== */

/* Large Desktop */
@media (max-width:1400px){

.hero{
padding:140px 7% 80px;
}

section{
padding:90px 7%;
}

}


/* Laptop */

@media (max-width:1200px){

.hero{

grid-template-columns:1fr;

text-align:center;

gap:60px;

}

.hero-buttons{

justify-content:center;

}

.hero-social{

justify-content:center;

}

.about-container{

grid-template-columns:1fr;

text-align:center;

}

.about-content p{

text-align:center;

}

.contact-container{

grid-template-columns:1fr;

}

.timeline::before{

left:35px;

}

.timeline-item{

width:100%;

padding-left:80px;

padding-right:20px;

margin-bottom:40px;

}

.timeline-item.right{

left:0;

}

.timeline-item.left::before,
.timeline-item.right::before{

left:25px;

}

.counter{

grid-template-columns:repeat(2,1fr);

}

.hero-stats{

grid-template-columns:repeat(2,1fr);

}

.practice-container{

grid-template-columns:repeat(2,1fr);

}

.technology-grid{

grid-template-columns:repeat(2,1fr);

}

.gallery-container{

grid-template-columns:repeat(2,1fr);

}

}


/* Tablet */

@media (max-width:992px){

header{

padding:18px 6%;

}

nav{

position:fixed;

top:80px;

right:-100%;

width:300px;

height:100vh;

background:#fff;

box-shadow:-10px 0 25px rgba(0,0,0,.08);

transition:.4s;

padding-top:40px;

}

body.dark nav{

background:#162033;

}

nav.active{

right:0;

}

nav ul{

flex-direction:column;

align-items:center;

gap:30px;

}

.menu-btn{

display:block;

}

.hero-left h1{

font-size:48px;

}

.hero-left h2{

font-size:24px;

}

.image-wrapper{

width:240px;

height:240px;

}

.ring1{

width:370px;

height:370px;

}

.ring2{

width:410px;

height:410px;

}

.about-grid{

grid-template-columns:1fr;

}

.counter{

grid-template-columns:1fr 1fr;

}

.hero-stats{

grid-template-columns:1fr 1fr;

}

.practice-container{

grid-template-columns:1fr;

}

.gallery-container{

grid-template-columns:1fr;

}

.technology-grid{

grid-template-columns:1fr;

}

.section-title h2{

font-size:38px;

}

}


/* Mobile */

@media (max-width:768px){

.hero{

padding-top:140px;

}

.hero-left h1{

font-size:40px;

}

.hero-left h2{

font-size:22px;

}

.hero-left p{

font-size:16px;

}

.hero-buttons{

flex-direction:column;

}

.btn1,
.btn2{

width:100%;

}



.image-wrapper{
    width:250px;
    height:250px;
}

.ring1{
    width:300px;
    height:300px;
}

.ring2{
    width:330px;
    height:330px;
}




/* .image-wrapper{

width:280px;

height:280px;

}

.ring1{

width:310px;

height:310px;

}

.ring2{

width:350px;

height:350px;

} */

.logo p{

display:none;

}

.hero-stats{

grid-template-columns:1fr;

}

.counter{

grid-template-columns:1fr;

}

.contact-form{

padding:25px;

}

.footer-content h2{

font-size:28px;

}

.section-title h2{

font-size:32px;

}

}


/* Small Mobile */

@media (max-width:576px){

section{

padding:70px 20px;

}

header{

padding:15px 20px;

}

.logo h2{

width:45px;

height:45px;

font-size:18px;

}

.hero-left h1{

font-size:34px;

}

.hero-left h2{

font-size:20px;

}

.hero-left p{

font-size:15px;

}

.image-wrapper{

width:240px;

height:240px;

}



/* Small Mobile */

@media (max-width:576px){

    section{
        padding:70px 20px;
    }

    .image-wrapper{
        width:220px;
        height:220px;
    }

    .ring1{
        display:block;
        width:260px;
        height:260px;
        border:8px dashed #fc0cf0;
    }

    .ring2{
        display:block;
        width:290px;
        height:290px;
        border:3px solid rgba(21,24,233,.35);
    }

    .floating-card{
        display:none;
    }

}





/* .ring1{

display:none;

}

.ring2{

display:none;

} */

.floating-card{

display:none;

}

.about-content h3{

font-size:30px;

}

.section-title h2{

font-size:28px;

}

.gallery-item img{

height:220px;

}

.contact-form input,
.contact-form textarea{

font-size:15px;

padding:14px;

}

.footer-social{

gap:12px;

}

.footer-social a{

width:42px;

height:42px;

}

}


/* Extra Small */

@media (max-width:400px){

.hero-left h1{

font-size:30px;

}

.hero-left h2{

font-size:18px;

}

.hero-left p{

font-size:14px;

}

.btn1,
.btn2{

padding:14px;

font-size:14px;

}

.section-title h2{

font-size:25px;

}

.image-wrapper{

width:210px;

height:210px;

}

}